body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(255, 244, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

#backgroundImage {
    position: absolute;
    height: 60%;
    width: 90%;
    max-width: 500px;
    max-height: 500px;
    background-image: url(assets/pexels-photo-9009923.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: components 20s linear infinite;
    
}
@keyframes components {
  0% {border-radius: 50% 50%;}
  20% {border-radius: 40% 45%; }
  40% {border-radius: 50% 65%;}
  60% {border-radius: 40% 55%;  }
  80% {border-radius: 55% 45%;  }
  100% {border-radius: 50% 50%; }
}

form {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 210px;
    animation: 2s ease-in-out dropDown;
}

@keyframes dropDown {
    0% {
      left: -100vw;
    }
    100% {
        left: 0vw;
    }
}

button, input {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

button {
    background-color: white;
}

p {
    position: absolute;
    max-width: 95vw;
    text-align: center;
    font-size: 35px;
}